body {
    font-family:Geneva, Tahoma, sans-serif;
    font-size:15px;
    padding:0;
    margin:0;
    line-height:1.5em;    
}

.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

header {
    background-color:grey;
}

header h1 {
   color:white; 
}

header a {
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;

}

.vertical {
    
}





footer {
    background-color:grey;
}

footer p {
    color:white;
    font-size:15px;
    text-transform:uppercase;
}